<script type="text/javascript">
	productsLoadedScroll = 0;
	productsLoadedScreens = {{width}}/100*-1;
</script>
<div class="sub-head">
	<h3>{{category.title}}</h3>
	<a href="" class="loaded-closer">x</a>
</div>
<div id="products-content">
	<a href="#" class="left-button sub-nav-button"></a>
	<a href="#" class="right-button sub-nav-button"></a>
	<div class="container" style="width:{{width}}%;">
		{% for pro1,pro2 in products %}<div class="coloum" style="width:{{cell_width}}%;">
			<a href="/../product/{{pro1.slug}}" class="image-container" style="background-image: url(/../{{pro1.cover_image_link}});"></a>
			<a href="/../product/{{pro2.slug}}" class="image-container" style="background-image: url(/../{{pro2.cover_image_link}});"></a>
		</div>{% endfor %}
	</div>
</div>